<footer class="footer">
  <div class="container">
      <div class="footer__grid">
          <div class="footer__col">
              <a href="./#home" class="footer__logo">Neur<span>Plix</span></a>
              <p class="footer__desc">
                  Инновационная технология для построения карьеры, которая работает на вас.
                  Переосмыслите подход к развитию с нами.
              </p>
              <div class="footer__socials">
                  <a href="https://www.linkedin.com/" class="footer__social"><i class="fa-brands fa-linkedin-in"></i></a>
                  <a href="https://web.telegram.org" class="footer__social"><i class="fa-brands fa-telegram"></i></a>
                  <a href="https://www.instagram.com" class="footer__social"><i class="fa-brands fa-instagram"></i></a>
              </div>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Меню</h3>
              <ul class="footer__list">
                  <li><a href="./#about">О платформе</a></li>
                  <li><a href="./#blog">Блог</a></li>
                  <li><a href="./#innovations">Инновации</a></li>
                  <li><a href="./#reviews">Отзывы</a></li>
              </ul>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Информация</h3>
              <ul class="footer__list">
                  <li><a href="./privacy.html">Политика конфиденциальности</a></li>
                  <li><a href="./cookies.html">Политика Cookie</a></li>
                  <li><a href="./terms.html">Условия использования</a></li>
                  <li><a href="./return.html">Политика возврата</a></li>
                  <li><a href="./disclaimer.html">Отказ от ответственности</a></li>
                  <li><a href="./personal-data-policy.html">Обработка персональных данных</a></li>
              </ul>
          </div>

          <div class="footer__col">
              <h3 class="footer__title">Контакты</h3>
              <ul class="footer__contacts">
                  <li>
                      <i class="fa-solid fa-location-dot"></i>
                      <span>12 Avenue Pierre 1er de Serbie, 75116 Paris, France</span>
                  </li>
                  <li>
                      <i class="fa-solid fa-envelope"></i>
                      <a href="mailto:support@neur-plix.org">support@neur-plix.org</a>
                  </li>
                  <li>
                      <i class="fa-solid fa-phone"></i>
                      <a href="tel:+33140506070">+33 1 40 50 60 70</a>
                  </li>
              </ul>
          </div>
      </div>

      <div class="footer__bottom">
          <p>&copy; 2025 Neur-Plix. Все права защищены.</p>
          <p>Платформа уже доступна в Европе.</p>
      </div>
  </div>
</footer>